In [1]:
from diamondonpy import Diamond

In [2]:
diamond = Diamond()
diamond.makedb(
    db="mydb.dmnd",
    input_file="random.fasta",
    threads=4
)

''

In [4]:
diamond.blastp(
    db="random.fasta",
    query="random.fasta",
    threads=8,
    evalue=1e-5,
    matrix="BLOSUM90",
    gapopen=10,
    gapextend=1,
    max_target_seqs=50,
    sensitivity="fast",
    outfmt="6 qseqid sseqid pident length evalue bitscore qcovhsp",
    iterate=True
)

   cluster_number sequence_id representative  cluster_size
0               1   protein_1      protein_1             1
1               2   protein_2      protein_2             1
2               3   protein_3      protein_3             1
3               4   protein_4      protein_4             2
4               4   protein_5      protein_4             2